@import "./Global/variables";
@import "./Global/mixin";
@import "./Global/keyframe";
@import "./Global/common";
@import "./Global/classNameFunction";
@import "./Lib/Font-awesome/css/all.min.css";

#app {
  .full-height {
    height: 100vh;
  }

  .position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
    right   : 10px;
    top     : 18px;
  }

  .content {
    text-align: center;
    &__title {
      font-family: "Bold";
      font-size: 84px;
    }
  }


  .links>a {
    color          : #636b6f;
    padding        : 0 25px;
    font-size      : 13px;
    font-weight    : 600;
    letter-spacing : .1rem;
    text-decoration: none;
    text-transform : uppercase;
  }

  .m-b-md {
    margin-bottom: 30px;
  }
}
